<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h1><%= product.Title%></h1>
            <hr>
            <div>
                <img src="<%= product.ImageUrl %>" alt="<%= product.Title%>">
            </div>
            <h2><%= product.Price%></h2>
            <p><%= product.Description %></p>
            <%- include('../includes/add-to-cart.ejs') %>
        </main>
        <%- include('../includes/end.ejs') %>